<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqqIzw2ICRbP6IxKBlR6YAXTJMbWEPmCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>808246572772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.babak.socialMedia</string>
	<key>PROJECT_ID</key>
	<string>social-media-cd995</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-cd995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808246572772:ios:4ad9cdba4e67a73b611ef1</string>
</dict>
</plist>